*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
     height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #091921; */
}
#nav{
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    transition: all 1s ease;
    /* padding:  0 30px; */
}
#leftNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
#leftNav h3{
    font-size: 25px;
    margin-left: 30px;
}
#middleNav{
    display: flex;
    margin-left: 200px;
    justify-content: center;
    align-items: center;
    height: 25px;
    border: 1.3px solid #dadada;
    padding: 0 5px;
}
#middleNav #search{
    width: 20px;
    margin-left: 15px;
    border: none;
    outline: none;
    transition:  all 0.5s ease;
    color:gray;
}
#middleNav #search:focus{
    width: 200px;
}
#rightNav a{
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size: 15px;
}
.searchIcon{
    font-size: 12px;
    margin: 0 2px;
}
#main{
    margin-top: 80px;
    height: 100%;
    width: 100%;
    display: flex;
}
#leftMain{
    height: 100%;
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#rightMain{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: royalblue; */
}
.menu{
    cursor: pointer;
    display: none;
}
#contentLeftMain h1{
    font-size: 55px;
    margin: 30px 0;
}
#contentLeftMain p{
    font-size: 15px;
    margin:  10px 0;
}
#contentLeftMain button{
    width: 120px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    margin: 20px 0;
}
#rightMain img{
    height: 70%;
    width: 50%;
}
#extra{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: red;
}
@media(max-width:700px){
    #rightNav a{
        display: none;
    }
    #middleNav{
        display: none;
    }
    .menu{
        display: initial;
        margin: 0 20px;
        font-size: 20px;
        
    }
}
@media(max-width:500px){
    #main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #leftMain{
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
    }
    #rigthMain{
        height: 100%;
        width: 100%;
    }
    #rightMain img{
        height: 100%;
        width: 100%;
    }
    #contentLeftMain{
        margin-left: 10px;
    }
    #contentLeftMain h1{
        font-size: 45px;
        margin: 30px 0;
    }
    #contentLeftMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:410px){
    #contentLeftMain h1{
        font-size: 35px;
        margin: 30px 0;
    }
    #contentLeftMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}